//colors:
$color-text: rgb(255,255,229);
$color-background: rgb(255,255,229);
$color-a: rgb(217,240,163);
$color-text-btn: rgb(173,221,142);
$color-span: rgb(120,198,121);
$color-outline: rgb(65,171,93);
$color-secondaary: rgb(35,132,67);
$color-primary: rgb(0,104,55);
$color-titles: rgb(0,69,41);
$color-bad: rgb(196, 15, 15);
